<h1>Introduction</h1>
<p>
 lorem ipsum
</p>

<h2>Investments overview</h2>

<p>Most current data on my holdings:</p>

<canvas id="investment-pie" width="400" height="150"></canvas>
<div class="clearfix"></div>
<br />
<br />
<br />
<br />
<p>Below are charts showing the evolution of my portfolios with time:<p/>
<br />
<canvas id="total-chart" width="400" height="150"></canvas>

<br />
<div class="clearfix"></div>


<canvas id="crypto-chart" width="400" height="150"></canvas>
<br />
<div class="clearfix"></div>
<canvas id="stock-chart" width="400" height="150"></canvas>

<div class="clearfix"></div>



<br />
<canvas id="retirement-chart" width="400" height="150"></canvas>


<div class="footer container" style="margin-top: 60px; padding-top: 20px; margin-bottom: 30px; text-align: center; border-top: 1px solid grey;">
  <h3>Support me if you like this page:</h3>
  <br />
 <p style="color: lightcoral;">support links</p>
</div>

<script>
    var addChartData = function(data1, data2, data3){
        if(data1.length !== data2.length || data1.length !== data3.length){
            return [];
        }
        return data1.map(function(point, index) {
            return {
                x: point.x,
                 y: point.y + data2[index].y + data3[index].y
            };
        })
    };

    var filterData = function(data, code){
        return data.filter(function(element){
            return element.code === code;
        }).map(function(element){
            var date = new Date(element.created_at);
            date.setDate(1); // move to first day of month to align monthly columns
            return { x: date, y: element.value };
        });
    };



    var stockChartContainer = document.getElementById("stock-chart").getContext('2d');
    var cryptoChartContainer = document.getElementById("crypto-chart").getContext('2d');
    var retirementChartContainer = document.getElementById("retirement-chart").getContext('2d');
    var totalChartContainer = document.getElementById("total-chart").getContext('2d');

    var investmentPie = document.getElementById('investment-pie').getContext('2d');

    var colorsStock   = { background: 'rgba(255, 99, 132, 0.2)', border: 'rgba(255, 99, 132, 1)' };
    var colorsCrypto  = { background: 'rgba(54, 162, 235, 0.2)', border: 'rgba(54, 162, 235, 1)' };
    var colorsSavings = { background: 'rgba(255, 206, 86, 0.2)', border: 'rgba(255, 206, 86, 1)' };
    var colorsTotal   = { background: 'rgba(75, 192, 192, 0.2)', border: 'rgba(75, 192, 192, 1)' };

    var colorsPieBackground = [ colorsSavings.background, colorsCrypto.background, colorsStock.background ];
    var colorsPieBorders = [ colorsSavings.border, colorsCrypto.border, colorsStock.border ];

    var colorsPie = { backgroundColor: colorsPieBackground, borderColor: colorsPieBorders };

    var yLegend = 'Value in CAD';

    var backendData = [];
    backendData = <%= @holdings.to_json.html_safe %>;

    var dataSavings = filterData(backendData, 'retirement');
    var dataStock = filterData(backendData, 'stock_market');
    var dataCrypto = filterData(backendData, 'crypto_market');

    var currentDataHardcoded = {
        savings: dataSavings[dataSavings.length - 1].y,
        crypto: dataCrypto[dataCrypto.length - 1 ].y,
        stocks: dataStock[dataStock.length - 1 ].y
    };


    var dataTotal = addChartData(dataStock, dataCrypto, dataSavings);
    var pieData = [ currentDataHardcoded.savings, currentDataHardcoded.crypto, currentDataHardcoded.stocks ];
    var pieLabels = ['Savings', 'Crypto', 'Stocks'];


    // pie chart initialization
    initPieCustom(investmentPie, colorsPie, pieData, pieLabels);

    // bar charts initialization
    initChartCustom(stockChartContainer, dataStock, yLegend, colorsStock, 'Stock Market');
    initChartCustom(cryptoChartContainer, dataCrypto, yLegend, colorsCrypto, 'Crypto Markets');
    initChartCustom(retirementChartContainer, dataSavings, yLegend, colorsSavings, 'Retirement/Savings');
    initChartCustom(totalChartContainer, dataTotal, yLegend, colorsTotal, 'Total Assets');
</script>